.units {
    font-size: 12px;
    font-family: 'Tenor Sans', sans-serif;
    
}

h1 {
    padding-left: 50px;
    color: #ccafaf;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 60px;
    
}

h2 {
    font-family: milestone free version;
    padding-top: 30px;
    color: #cb3737;
    font-size: 40px;
    text-align: center;
}

h3 {

    color: #ccafaf;
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;

}

h4 {
    color:  #cb3737;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 60px;
    font-family: milestone free version;
}

ul{
    padding-top: 5px;
    color: #ccafaf;
    list-style: none;
    font-size: 20px;
    text-align: right;
    font-family: milestone free version;
    padding-right: 20px;
}



small {
    max-width: 30px;
    text-align: center;
    padding-left: 300px;
    font-family: 'Tenor Sans', sans-serif;
}


.weather-app {
    max-width: 750px;
    max-height: 625px;
    margin: 30px auto;
    padding: 20px;
    padding-bottom: 400px;
    border: 1px solid #e3eeff;
    border-radius:10px;
   background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);


}


.btn-light {
    font-family: 'Tenor Sans', sans-serif;
    border-radius: 50px;

}

.form-control {
    font-family: 'Tenor Sans', sans-serif;
}

img {
    padding-left: 60px;

}


.weather-forecast {
    margin-top: 80px;
}

.weather-forecast h3 {
    font-family: milestone free version;

}

.weather-forecast img {
   
   height: 40px;
   width: 40px;

}

.weather-forecast-temperature {
    font-family: 'Tenor Sans', sans-serif;
    color: #cb3737;
}

.day-time-line {
     color: #ccafaf;
    font-size: 20px;
    font-family: 'Tenor Sans', sans-serif;
    text-align: center;


}